<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>id</th>
            <th>学号</th>
            <th>姓名</th>
            <th>学院</th>
            <th>年龄</th>
            <th>性别</th>
        </tr>
        <% for(i=0;i<students.length;i++){ %>
            <tr>
                <th>
                    <%=students[i].name%>
                </th>
                <th>
                    <%=students[i].age%>
                </th>
            </tr>
            <% }%>
    </table>
</body>

</html>